[submodule "harmonAIze/external/pybind11"]
	path = harmonAIze/external/pybind11
	url = https://github.com/pybind/pybind11
[submodule "harmonAIze/external/JUCE"]
	path = harmonAIze/external/JUCE
	url = https://github.com/WeAreROLI/JUCE.git
